<!DOCTYPE html>
<html>
    <head>
        <title>Admin}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
    
        <header>
            <div id="header"> 
                <div id="title"><h2>{{title}}</h2></div>
                <marquee id="intro" direction="left"><big><i>Final Project for CST 336, Internet Programming, made by Joseph, Kevin, Jacob, & Michael</i></big></marquee>
                <div id="logout-button">
                    <input type="image" 
                           src="img/login_icon.png" 
                           name="logoutButton" 
                           class="btTxt submit"/>
                </div>
            </div>
        </header>
        
        <br><br>
        
        Welcome, {{username}}. Here is a list of tournaments available to join
        <!--- The Hardcoded lines need to be replaced. --->
        <table>
            <tr>
                <th>Game</th>
                <th>Admin</th>
                <th>Player Count</th>
            </tr>
            <tr>
                <th>Mortal Kombat</th>
                <th>Sonja</th>
                <th>7</th>
            </tr>
            <tr>
                <th>Supersmash Bros.</th>
                <th>Mario</th>
                <th>15</th>
            </tr>
            <tr>
                <th>Street Fighter</th>
                <th>Ryu</th>
                <th>2</th>
            </tr>
        </table>
        <script src="js/functions.js"></script>
        
    </body>
</html>

