<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
    
        <header>
            <div id="header"> 
                <div id="title"><h2>{{title}}</h2></div>
                <marquee id="intro" direction="left"><big><i>Final Project for CST 336, Internet Programming, made by Joseph, Kevin, Jacob, & Michael</i></big></marquee>
                <div id="login-button">
                    <input type="image" 
                           src="img/login_icon.png" 
                           name="loginButton" 
                           class="btTxt submit" 
                           onclick="document.getElementById('loginForm').style.display='block'"/>
                </div>
            </div>
        </header>
        
        <br><br>
        
        <div id="loginForm" class="modal">
            <div class="modal-content animate">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('loginForm').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="img/login.jpg" alt="login-icon" class="login-icon">
                </div>
                <div class="container">
                    <input type="text" id="username" placeholder="Enter Username" name="username" required>
                    
                    <input class="form-control" id="password" type="password" name="password" placeholder="Enter Password" required>
                   
                    <button type="submit" id="submit-login-button">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('loginForm').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="new-here" onclick="document.getElementById('loginForm').style.display='none'; document.getElementById('createAccountForm').style.display='block'">New here? <a href="#">Create Account</a> </span>
                </div>
            </div>
        </div>
        
        <div id="createAccountForm" class="modal">
            <form class="modal-content animate" action="#" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('createAccountForm').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="img/login.jpg" alt="login-icon" class="login-icon">
                </div>
                <div class="container">
                    <input type="text" id="username" placeholder="Enter Username" name="username" required>
                    <input type="password" id="password" placeholder="Enter Password" name="password" required>
                    <button type="submit" id="create-account-button">Create Account</button>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('createAccountForm').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
            </form>
        </div>
    
        <div id="trophy"></div>
        
        <br><br><br><br><br><br>
        
        <div id="searchBar" style="margin:auto;max-width:800px">
          <input type="text" placeholder="Search in Tournaments.." id="search-field">
          <button type="submit" id="search-button" onclick="search()"><i class="fa fa-search"></i></button>
        </div>   
        
        <br><br>
        
        
        <div class="container-fluid" style="margin-top: 30px"></div>
        
        <script src="js/functions.js"></script>
        
    </body>
</html>

